* {
    letter-spacing: 0 !important;
}

.Header1 {
    width: 100%;
    border-bottom: 1px solid #e6e6e6;
    background-color: #fff;
    height: 90px;

}

.img-div1 {
    width: 12%;

    display: inline-block;
    line-height: 90px;
    text-decoration: none;
    vertical-align: middle;
    margin-left: 3%;


}

.img1 {

    width: 167px;
}

.netflix-sans-font-loaded {
    font-family: 'Segoe UI', 'Helvetica Neue', sans-serif;
}

.basicLayout2.simplicity2 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 0px;
}

div.basicLayout2 .nfHeader2 {
    border-bottom: 1px solid rgb(230, 230, 230);
}

div.basicLayout2 .nfHeader2,
div.basicLayout2 .simpleContainer2 {
    background-color: rgb(255, 255, 255);
}

.authLinks2.signupBasicHeader2 {
    margin: 0px 3%;
}

.authLinks2 {
    color: rgb(51, 51, 51);
    float: right;
    font-size: 19px;
    font-weight: 500;
    line-height: 90px;
    text-decoration: none;
}

#appMountPoint1 .simpleContainer2 {
    padding-bottom: 95px;
}

.basicLayout2.simplicity2 .simpleContainer2 {
    flex-grow: 1;
}

.simpleContainer2 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    width: 100%;
}

div.basicLayout2 .centerContainer2 {
    --layout-container-side-padding: 32px;
    padding: 20px 32px 60px;
    padding: 20px var(--layout-container-side-padding) 60px;
}

.centerContainer2.firstLoad2,
.centerContainer2.sameMode2 {
    display: block;
}

.centerContainer2 {
    display: none;
    overflow: hidden;
}

.centerContainer2 {
    box-sizing: border-box;
    margin: 0 auto 15px;
    max-width: 978px;
    padding: 20px 3% 60px;
}

div.basicLayout2 .planContainer2,
div.basicLayout2 .regContainer2,
div.basicLayout2 .verifyCardContainer2 {
    max-width: 340px;
}

.planContainer2,
.regContainer2,
.verifyCardContainer2,
.verifyCardPageContainer2 {
    margin: 0 auto;
    max-width: 440px;
    text-align: center;
}

div.basicLayout2 .stepLogoContainer2 {
    display: inline-block;
}

div.basicLayout2 .stepLogoContainer2 .stepLogo2 {
    margin: 100px 0 20px;
}

div.basicLayout2 .paymentStepLogo2,
div.basicLayout2 .planStepLogo2 {
    background-size: 50px;
    height: 50px;
    width: 50px;
}

.planContainer2 .stepLogo2,
.regContainer2 .stepLogo2,
.verifyCardContainer2 .stepLogo2,
.verifyCardPageContainer2 .stepLogo2 {
    display: block;
    margin: 10% 0;
}

.planStepLogo2 {
    background: url(https://assets.nflxext.com/ffe/siteui/acquisition/simplicity/Checkmark.png) no-repeat 50% 50%;
    background-size: 60px;
    height: 60px;
}

.stepHeader2 {
    display: inline-block;
}

div.basicLayout2 .stepIndicator2 {
    font-size: 13px;
    text-align: inherit;
}

.stepIndicator2 {
    display: block;
    font-size: 13px;
    line-height: 19px;
    text-align: left;
    color: black;
}

div.basicLayout2.hasLargeTypography2 h1 {
    font-size: 32px;
    color: black;
}

.stepTitle2 {
    display: inline-block;
    font-size: 23px;
    font-weight: 500;
}

/* div.basicLayout2.hasLargeTypography2 .checkmark-group--text2, div.basicLayout2.hasLargeTypography2 .contextRow2, div.basicLayout2.hasLargeTypography2 .regContainer2.contextBody2, div.basicLayout2.hasLargeTypography2 .regFormContainer2 .contextRow2 {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
} */
div.basicLayout2 .paymentContainer2 .contextBody2,
div.basicLayout2 .planContainer2 .contextBody2,
div.basicLayout2 .regContainer2 .contextBody2,
div.basicLayout2 .verifyCardContainer2 .contextBody2 {
    font-size: 17px;
    margin: 0;
}

div.basicLayout2.hasLargeTypography2 .contextRow2 {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.planContainer2 .contextRow2,
.regContainer2 .contextRow2,
.verifyCardContainer2 .contextRow2,
.verifyCardPageContainer2 .contextRow2 {
    display: inline-block;
    max-width: 300px;
}

.checkmark-group2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 15px;
    text-align: left;
}

.checkmark-group2 {
    order: -1;
}

.checkmark-group--row2 {
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
}

ul>li {
    list-style-type: disc;
    margin-bottom: 5px;
    margin-left: 1.1em;
}

svg:not(:root) {
    overflow: hidden;
}

.checkmark-group--icon2 {
    align-self: flex-start;
    color: #e50914;
    flex: none;
    height: 26px;
    width: 26px;
}


div.basicLayout2.hasLargeTypography2 .checkmark-group--text2,
div.basicLayout2.hasLargeTypography2 .contextRow2,
div.basicLayout2.hasLargeTypography2 .regContainer2 .contextBody2,
div.basicLayout2.hasLargeTypography2 .regFormContainer2 .contextRow2 {
    font-size: 18px;
    margin-bottom: 0;
    margin-top: 0;
}

.checkmark-group--text2 {
    margin-left: 10px;
    margin-top: 2px;
    color: #33302e;
    font-weight: normal
}

.checkmark-group--row2+.checkmark-group--row2 {
    margin-top: 20px;
}

div.basicLayout2 .contextStep2 .submitBtnContainer2 {
    max-width: 340px;
}

.simpleContainer2 .submitBtnContainer2 {
    margin-top: 24px;
}

.submitBtnContainer2 {
    margin: 0 auto;
    max-width: 440px;
    text-align: center;
}

div.basicLayout2.hasLargeTypography2 button.modal-action-button,
div.basicLayout2.hasLargeTypography2 button.nf-btn-primary {
    border-radius: 4px;
    font-size: 24px;
    font-weight: 400;
    min-height: 64px;
}

.nf-btn.nf-btn-oversize {
    font-size: 19px;
    line-height: 19px;
    min-height: 60px;
    min-width: 110px;
    padding: 20.5px 2em;
    width: 100%;
}

div.basicLayout2 .nf-btn-primary,
div.basicLayout2 .nf-btn-secondary {
    border-radius: 2px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    min-height: 48px;
}

.nf-btn-solid.nf-btn-primary,
.nf-btn-twotone.nf-btn-primary {
    background-color: #e50914;
    color: #fff;
}

element.style {}

div.basicLayout.hasLargeTypography button.modal-action-button,
div.basicLayout.hasLargeTypography button.nf-btn-primary {
    border-radius: 4px;
    font-size: 24px;
    font-weight: 400;
    min-height: 64px;
}

div.basicLayout .nf-btn-primary,
div.basicLayout .nf-btn-secondary {
    border-radius: 2px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    min-height: 48px;
}

.nf-btn.nf-btn-oversize {
    font-size: 19px;
    line-height: 19px;
    min-height: 60px;
    min-width: 110px;
    padding: 20.5px 2em;
    width: 100%;
}

.nf-btn-solid.nf-btn-primary,
.nf-btn-twotone.nf-btn-primary {
    background-color: #e50914;
    color: #fff;
}

@media only screen and (min-width: 500px) {
    .nf-btn {
        width: auto;
    }
}

.nf-btn {
    font-size: 1rem;
    min-height: 48px;
    min-width: 74px;
    padding: 23.5px 2em;
    position: relative;
    width: 100%;
}

.nf-btn {
    border: none;
    border-radius: 2px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .25);
    box-sizing: border-box;
    color: #000;
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    letter-spacing: .025rem;
    line-height: 1rem;
    text-align: center;
    text-decoration: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    vertical-align: middle;
}


.site-footer-wrapper2 {
    background-color: #f3f3f3;
    margin-top: 0;
    opacity: 1;
}


.site-footer-wrapper2 {
    color: #737373;
    font-size: 1em;
    /* margin-top: 80px; */
    min-width: 190px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

.footer-divider2 {
    border-top: 1px solid #e6e6e6;
    height: 0;
    width: 100%;
}

.site-footer2 {
    margin: 0 auto;
    padding-top: 30px;
    width: 90%;
}

.footer-top2 {
    margin: 0 0 30px;
    padding: 0;
}


.footer-top-a {
    color: #737373;
}

.footer-links2 {
    box-sizing: border-box;
    font-size: 13px;
    max-width: 1000px;
}

.footer-link-item2 {
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 16px;
    min-width: 100px;
    padding: 0 12px 0 0;
    vertical-align: top;
    width: 25%;
}

ul.structural {
    margin: 0;
    padding: 0;
}

ul.structural>li {
    list-style: none;
    margin-left: 0;
}

.footer-link2 {
    color: #737373;
}

.lang-selection-container2 {
    display: inline-block;
}

.nfSelectWrapper2.selectArrow2 {
    display: inline-block;
    width: 100%;
}

.nfSelectWrapper2 {
    display: inline-block;
    max-width: 500px;
    position: relative;
}

.lang-selection-container2 .nfLabel2 {
    clip: rect(0 0 0 0);
    border: 0;
    display: block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.nfLabel2 {
    color: #333;
    font-size: 16px;
}

.nfSelectWrapper2 .selectArrow2.nfSelectPlacement2,
.nfSelectWrapper2.selectArrow2.nfSelectPlacement2 {
    position: relative;
}

.nfSelectWrapper2 .selectArrow2.inFooter2 .nfSelect2,
.nfSelectWrapper2.selectArrow2.inFooter2 .nfSelect2 {
    color: inherit;
}

.nfSelectWrapper2 .selectArrow2.prefix2 .nfSelect2,
.nfSelectWrapper2.selectArrow2.prefix2 .nfSelect2 {
    padding-left: 42px;
}
.nfSelect2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid #a6a6a6;
    border-radius: 2px;
    font-size: 16px;
    height: 48px;
    padding: 10px 30px 12px 10px;
    width: 100%;
}
#tmcontainer1, .a11yAnnouncer2 {
    position: absolute;
}

.a11yAnnouncer2 {
    height: 1px;
    overflow: hidden;
    width: 1px;
}