.basicLayout7.simplicity7 {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 0px;
}

div.basicLayout7 .nfHeader6 {
    border-bottom: 1px solid rgb(230, 230, 230);
}

div.basicLayout7 .nfHeader6,
div.basicLayout7 .simpleContainer7 {
    background-color: rgb(255, 255, 255);
}

.nfHeader6,
.nfHeader6.signupBasicHeader7 {
    height: 90px;
}

.noBorderHeader6 {
    background-color: transparent;
    border-bottom: 0px;
    position: relative;
}

.nfHeader6 {
    background-color: rgb(243, 243, 243);
    border-bottom: 1px solid rgb(204, 204, 204);
}

.authLinks7.signupBasicHeader7 {
    margin: 0px 3%;
}

.authLinks7 {
    color: rgb(51, 51, 51);
    float: right;
    font-size: 19px;
    font-weight: 500;
    line-height: 90px;
}

#appMountPoint .simpleContainer7 {
    padding-bottom: 95px;
}

.basicLayout7.simplicity7 .simpleContainer7 {
    flex-grow: 1;
}

div.basicLayout7 .nfHeader6,
div.basicLayout7 .simpleContainer7 {
    background-color: rgb(255, 255, 255);
}

.simpleContainer7 {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overflow: hidden;
    width: 100%;
}

div.basicLayout7 .centerContainer7 {
    --layout-container-side-padding: 32px;
    padding: 20px var(--layout-container-side-padding) 60px;
}

.centerContainer7.firstLoad,
.centerContainer7.sameMode {
    display: block;
}

.centerContainer7 {
    display: none;
    overflow: hidden;
}

.centerContainer7 {
    box-sizing: border-box;
    margin: 0px auto 15px;
    max-width: 978px;
    padding: 20px 3% 60px;
}

.paymentFormContainer7 {
    margin: 0px auto;
    max-width: 440px;
    text-align: left;
}

.paymentContainer .actionLink,
.paymentContainer .stepHeader7,
.paymentFormContainer7 .stepHeader7 {
    margin-top: 20px;
}

.stepHeader7 {
    display: inline-block;
}

div.basicLayout7 .stepIndicator7 {
    font-size: 13px;
    text-align: inherit;
}

.stepIndicator7 {
    display: block;
    font-size: 13px;
    line-height: 19px;
    text-align: left;
    color: #333;
}

div.basicLayout7.hasLargeTypography7 h1 {
    font-size: 34px;
}

.stepTitle7 {
    display: inline-block;
    font-size: 23px;
    font-weight: 500;
    color: #333;
}

.paymentFormContainer7 .fieldContainer7 {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.paymentFormContainer7 .logos-block7 {
    display: inline-block;
}

.logos7 {
    position: relative;
}

#appMountPoint img.logoIcon7 {
    background-image: none;
    width: auto;
}

.logos7 .logoIcon7 {
    float: left;
    height: 25px;
    margin: 1px 6px 1px 0px;
    width: 39px;
}

.default-ltr-cache-kg1rox7 {
    max-width: 39px;
    max-height: 25px;
}



#appMountPoint img.logoIcon7 {
    background-image: none;
    width: auto;
}

.logos .logoIcon7 {
    float: left;
    height: 25px;
    margin: 1px 6px 1px 0px;
    width: 39px;
}

.default-ltr-cache-kg1rox7 {
    max-width: 39px;
    max-height: 25px;
}

img {
    border: 0px;
    height: auto;
    max-width: 100%;
}

.paymentFormContainer7 .inlineContainer7 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.paymentFormContainer7 .simpleForm7 {
    margin-top: 10px;
    text-align: left;
}

ul.structural7 {
    margin: 0px;
    padding: 0px;
}

.ui-grid7 {
    box-sizing: border-box;
}

.paymentFormContainer7 .inlineContainer7 li {
    flex-grow: 2;
    flex-shrink: 0;
    width: 100%;
}

ul.structural7>li {
    list-style: none;
    margin-left: 0px;
}

.nfFormSpace7 {
    margin-bottom: 10px;
}


.cardNumberContainer7 {
    position: relative;
}



.nfInput7 {
    max-width: 500px;
}

.nfInput7.hasLogo7 .nfInputPlacement7,
.nfInput7 .nfInputPlacement7,
.nfInput7.tooltipError .nfInputPlacement7 {
    width: 100%;
}



.nfInput7,
.nfInput7 .nfInputPlacement7 {
    position: relative;
}

.input_id7 {
    display: block;
}


.nfInput7.nfInputOversize7 .nfTextField7 {
    height: 60px;
}


.nfInput7 .nfTextField7 {
    height: 48px;
    padding: 10px 10px 0px;
    width: 100%;
}

.nfInput7.hasLogo7 .nfTextField7,
.nfInput7 .nfTextField7,
.nfInput7.tooltipError .nfTextField7 {
    border: 1px solid rgb(140, 140, 140);
    border-radius: 2px;
    padding: 10px 55px 0px 10px;
}

.nfTextField7:invalid,
.nfTextField7:valid {
    box-shadow: none;
}

.nfTextField7 {
    appearance: none;
    border: 1px solid rgb(140, 140, 140);
    border-radius: 2px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    display: block;
    font-size: 16px;
    height: 59px;
    padding: 10px 11px;
    width: 100%;
}

input {
    line-height: normal;
}

.nfInput7 .placeLabel {
    color: #8c8c8c;
    font-size: 14px;
    left: 10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: font .1s ease, top .1s ease, transform .1s ease;
}

@media only screen and (min-width: 740px) {
    .nfInput7 .placeLabel {
        font-size: 16px;
    }
}

.default-ltr-cache-17w7xsa7 {
    position: absolute;
    top: 0;
    right: 10px;
    height: 100%;
    width: 39px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #999999;
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.1s ease;
    transition: transform 0.1s ease;
}

.default-ltr-cache-17w7xsa7 svg {

    transform: scale(1.197) translateX(-2px);
}

svg:not(:root) {
    overflow: hidden;
}

.paymentFormContainer7 .inlineContainer7 li.inline7 {
    flex-grow: 0;
    width: 49%;
}


.paymentFormContainer7 .inlineContainer7 .compressField7 {
    width: 0px;
}

.orderInfo7 {
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.orderInfoItem7:first-child {
    border-top: 0px;
}

.orderInfoItem7 {
    border-top: 1px solid rgb(230, 230, 230);
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.orderInfoItem__content-container7 {
    display: flex;
}

.orderInfoItem__content7 {
    box-sizing: border-box;
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    justify-content: center;
    line-height: 16px;
    min-height: 72px;
    overflow: hidden;
    padding: 7px 14px;
}

.orderInfoItem__title7 {
    color: rgb(51, 51, 51);
    font-size: 16px;
    font-weight: 500;
}

.orderInfoItem__text7+.orderInfoItem__text7 {
    padding-top: 5px;
}

.orderInfoItem__description7 {
    color: rgb(115, 115, 115);
    font-size: 16px;
    font-weight: 400;
}

.orderInfoItem__button7 {
    appearance: none;
    background: none;
    border: 0px;
    color: rgb(0, 113, 235);
    cursor: pointer;
    flex: 0 0 auto;
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    padding: 14px;
}

.tou--container7:not(.has-consents-above-disclosure7) {
    margin-top: 20px;
}

.signupTerms7,
.user-consent--container7 {
    color: rgb(140, 140, 140);
    font-size: 13px;
}

a {
    color: rgb(0, 113, 235);
    text-decoration: none;
}

.ui-binary-input7 {
    box-sizing: border-box;
    font-size: 16px;
    max-width: 500px;
    min-height: 32px;
    padding-left: 36px;
    position: relative;
    user-select: none;
}

.ui-binary-input7 input[type="checkbox"],
.ui-binary-input7 input[type="radio"] {
    left: 0px;
    opacity: 1;
    position: absolute;
    top: 0px;
    width: 44px;
    height: 23px;
}

.nfInput7 .tooltipWrapper7 {
    background: transparent;
    border: 0;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 17px;
}

.nfInput7.nfInputOversize7.nfTextField7 {
    height: 60px;
}

.nfInput7 .nfTextField7 {
    height: 48px;
    padding: 10px 10px 0;
    width: 100%;
}


input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    padding: 0px;
}


.ui-binary-input7 input[type="checkbox"]+label {
    margin: 8px 0px;
}

.ui-binary-input7 input[type="checkbox"]+label,
.ui-binary-input7 input[type="radio"]+label {
    display: block;
    line-height: 1.2;
    padding: 6px 0px;
    position: relative;
}



.ui-binary-input7 .helper7 {
    color: rgb(140, 140, 140);
    font-size: 13px;
    line-height: 1em;
}

.simpleContainer7 .submitBtnContainer7 {
    margin-top: 24px;
}

.submitBtnContainer7 {
    margin: 0px auto;
    max-width: 440px;
    text-align: center;
}

div.basicLayout7.hasLargeTypography7 button.modal-action-button7,
div.basicLayout7.hasLargeTypography7 button.nf-btn-primary7 {
    border-radius: 4px;
    font-size: 24px;
    font-weight: 400;
    min-height: 64px;
}

div.basicLayout7 .nf-btn-primary7,
div.basicLayout7 .nf-btn-secondary7 {
    border-radius: 2px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1;
    min-height: 48px;
}

.nf-btn7.nf-btn-oversize7 {
    font-size: 19px;
    line-height: 19px;
    min-height: 60px;
    min-width: 110px;
    padding: 20.5px 2em;
    width: 100%;
}

.nf-btn-solid7.nf-btn-primary7,
.nf-btn-twotone7.nf-btn-primary7 {
    background-color: rgb(229, 9, 20);
    color: rgb(255, 255, 255);
}

@media only screen and (min-width: 500px) {
    .nf-btn7 {
        width: auto;
    }
}

.nf-btn7 {
    font-size: 1rem;
    min-height: 48px;
    min-width: 74px;
    padding: 23.5px 2em;
    position: relative;
    width: 100%;
}

.nf-btn7 {
    border: none;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 1px 1px;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    letter-spacing: 0.025rem;
    line-height: 1rem;
    text-align: center;
    text-decoration: none;
    user-select: none;
    vertical-align: middle;
}






.site-footer-wrapper2 {
    background-color: #f3f3f3;
    margin-top: 0;
    opacity: 1;
}


.site-footer-wrapper2 {
    color: #737373;
    font-size: 1em;

    min-width: 190px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

.footer-divider2 {
    border-top: 1px solid #e6e6e6;
    height: 0;
    width: 100%;
}

.site-footer2 {
    margin: 0 auto;
    padding-top: 30px;
    width: 90%;
}

.footer-top2 {
    margin: 0 0 30px;
    padding: 0;
}


.footer-top-a {
    color: #737373;
}

.footer-links2 {
    box-sizing: border-box;
    font-size: 13px;
    max-width: 1000px;
}

.footer-link-item2 {
    box-sizing: border-box;
    display: inline-block;
    margin-bottom: 16px;
    min-width: 100px;
    padding: 0 12px 0 0;
    vertical-align: top;
    width: 25%;
}



ul.structural {
    margin: 0;
    padding: 0;
}


.footer-link2 {
    color: #737373;
}

.lang-selection-container2 {
    display: inline-block;
}

.nfSelectWrapper2.selectArrow2 {
    display: inline-block;
    width: 100%;
}

.nfSelectWrapper2 {
    display: inline-block;
    max-width: 500px;
    position: relative;
}

.lang-selection-container2 .nfLabel2 {
    clip: rect(0 0 0 0);
    border: 0;
    display: block;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.nfLabel2 {
    color: #333;
    font-size: 16px;
}

.nfSelectWrapper2 .selectArrow2.nfSelectPlacement2,
.nfSelectWrapper2.selectArrow2.nfSelectPlacement2 {
    position: relative;
}

.nfSelectWrapper2 .selectArrow2.inFooter2 .nfSelect2,
.nfSelectWrapper2.selectArrow2.inFooter2 .nfSelect2 {
    color: inherit;
}

.nfSelectWrapper2 .selectArrow2.prefix2 .nfSelect2,
.nfSelectWrapper2.selectArrow2.prefix2 .nfSelect2 {
    padding-left: 42px;
}

.nfSelect2 {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: #fff;
    border: 1px solid #a6a6a6;
    border-radius: 2px;
    font-size: 16px;
    height: 48px;
    padding: 10px 30px 12px 10px;
    width: 100%;
}

#tmcontainer1,
.a11yAnnouncer2 {
    position: absolute;
}

.a11yAnnouncer2 {
    height: 1px;
    overflow: hidden;
    width: 1px;
}